body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: left;
  height: auto;
  background-color: #e3f2fd;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-block: 2rem;
  gap: 2rem;
  font-size: 30px;
}
