{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<link rel="stylesheet" href="/static/css/search_events.css"/>

<div class="split left">
	<div class="centered">
    </div>
</div>

<div class="split right">
	<div class="centered">
        <body>
            
            <form action="{{ url_for('state_city') }}" method="POST">
            Choose a state and city to search for: <br>
            {{ form.hidden_tag() }}
            {{ form.state }}<br/>
            {{ form.city }}
            <br><br>
            <input type="submit" class="btn btn-primary">
            
            </form>
            <script>
                var state_select = document.getElementById("state");
                var city_select = document.getElementById("city");

                state_select.onchange = function()  {

                    state = state_select.value;
                    
                    fetch('/city/' + state).then(function(response) {

                        response.json().then(function(data) {
                            console.log(data)
                            var optionHTML = '';

                            for (var city of data.cities) {
                                optionHTML += '<option value="' + city.id + '">' + city.name + '</option>';
                            }
                            city_select.innerHTML = optionHTML;
                            
                        })
                    });
                }

                function getCity() {
                    select_city = document.querySelector('#city');
                    output = select_city.value;
                    document.querySelector('.output').textContent = output;
                }

            </script>

        </body>
    </div>
</div>

{% endblock content %}
