<nav class="navbar navbar-expand-lg navbar-light">   
    <div class="container-fluid">
      {% if current_user.is_authenticated %}
      <a class="navbar-brand" href="{{ url_for('user', name=current_user.name) }}">
        <img src="/static/images/logo.png" alt="logo" height="60">
      </a>
      {% else %}
        <a class="navbar-brand" href="{{ url_for('login') }}">
          <img src="/static/images/logo.png" alt="logo" height="60">
        </a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% if current_user.id==1 %}
          
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('admin') }}">Admin</a>
          </li>

          {% endif %}

          {% if current_user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('user', name=current_user.name) }}">Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('dashboard') }}">Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('allposts') }}">Posts</a>
          </li>

            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('add_post') }}">Add Posts</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('state_city') }}">Search Events</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('friend_suggestion') }}">Friend Suggestions</a>
            </li>  

            <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('logout') }}">Logout</a>
            </li>

          {% else %}

          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('add_user') }}" font-size="20">Register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('login') }}">Login</a>
          </li>  

          {% endif %}
          
        </ul>
        {% if current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('search') }}"  class="d-flex" role="search">
          {{ form.hidden_tag() }}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% endif %}

      </div>
    </div>
  </nav>